.state__ {
	&selected {
		border: 3px solid black;
		margin: -3px 0;
	}

	&update {
		opacity: 0.4;

		&:hover, &:focus {
			border: 3px solid black;
			margin: -3px 0;
			opacity: 1;
		}

		a {
			&:hover, &:focus {
				background-color: red;
			}
		}

		&.state__engaged {
			opacity: 1;

			&:hover, &:focus {
				border-width: 0;
				margin: 0;
				opacity: 0.4;
			}
		}

		&.state__selected,
		&.state__engaged.state__selected {
			border-width: 0;
			margin: 0;
			opacity: 0.4;

			&:hover, &:focus {
				border: 3px solid black;
				margin: -3px 0;
				opacity: 1;
			}
		}
	}
}

a {
	position: relative;
}
